@model SessionExam.Dtos.UserDto

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="/Metronic/assets/media/logos/favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<link href="~/Metronic/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/Metronic/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" class="bg-body">
	<div class="d-flex flex-column flex-root">
		<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(/Metronic/assets/media/illustrations/development-hd.png)">
			<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
				<a href="#" class="mb-12">
					<img style="width:250px;"alt="Logo" src="https://cdn.logo.com/hotlink-ok/logo-social.png" />
				</a>
				<div class="w-lg-500px bg-body rounded shadow-sm p-5 p-lg-5 mx-auto">
					<form class="form w-100" novalidate="novalidate" asp-action="Login" method="post">
						<div class="fv-row mb-10">
							<label class="form-label fs-6 fw-bolder text-dark" asp-for="Username"></label>
							<input class="form-control form-control-lg form-control-solid" type="text" asp-for="Username" autocomplete="off" />
							<span asp-validation-for="Username" class="text-danger"></span>
						</div>
						<div class="fv-row mb-10">
							<div class="d-flex flex-stack mb-2">
								<label class="form-label fw-bolder text-dark fs-6 mb-0" asp-for="Password"></label>
							</div>
							<input class="form-control form-control-lg form-control-solid" type="password" name="password" autocomplete="off" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="mb-10 form-check">
							<label class="form-check-label">
								<input class="form-check-input" asp-for="RememberMe" checked /> @Html.DisplayNameFor(model => model.RememberMe)
							</label>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-lg btn-primary w-100 mb-5">
								<span class="indicator-label">Giriş</span>
								<span class="indicator-progress">
									Please wait...
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
								</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="/Metronic/assets/plugins/global/plugins.bundle.js"></script>
	<script src="/Metronic/assets/js/scripts.bundle.js"></script>
	<script src="/Metronic/assets/js/custom/authentication/sign-in/general.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>